.topbar {
    background-color: #450084;
    overflow: hidden;
    margin-top: -10px;
    margin-left: -10px;
    padding-right: 18px;
    position: static;
    width: 100%;
}

.topbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
}

.topright {
    float: right;
    width: 125px;
    height: 65px;
}

/*Still needs work, moves weird when screen size changes*/
.sidenav {
    width: 150px;
    min-height: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    margin-left: -8px;
    background: black;
    overflow: hidden;
    padding: 5px 0;
}

.main {
    margin-left: 150px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}


.sidenav a {
    color: white;
    text-align: center;
}

.sidenav p {
    color: white;
    font-size: small;
}

img {
    max-width: 100%;
    height: auto;
}

.sbc {
    justify-content: center;
    max-width: 30%;
}

.mid {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 0;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #CBB677;
}

h3 {
    color: white;
    text-align: center;
}

body p {
    text-align: center;
    font-family: serif;
}

.title {
    font-weight: bold;
}

div p {
    color: black;
    font-family: serif;
}

.social {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.social img{
    border-radius: 27px;
}

/*Handling mobile website layout */
@media screen and (max-width:800px) {
    .sidenav {
        position: initial;
        width: initial;
        margin-right: -9px;
    }

    .main {
        margin-left: 0px;
    }
}

form {
    border: 4px solid lightgrey;
    width: 40%;
    text-align: center;
}

.container {
    padding: 10px;
    background-color: lightgray;
}

/* Style the input elements and the submit button */
input[type=text],
input[type=email],
input[type=submit] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}